#formFile{
    display: none;
}

#fileInput label {
    padding: 20px 10px;
    width: 400px;
    background-color: white;
    color: #6f7275;
    display: block;
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
    transition: .5s;
    border: 1px solid #ced4da;
    border-radius: 7px;
}

#fileInput label:hover {
    color: whitesmoke;
    background-color: rgb(122, 122, 122);
}

th, td {
    align-items: flex-end;
    padding: 10px 20px;

} 

td img {
    height: 70px;
    width: 70px;
    object-fit: cover;
    border-radius: 15px;
    border: 2px solid #aaaaaa;
}


